# MacOS X
.DS_Store

# Develop
.idea
.vscode
asserts
font.ttf
src/font.ttf
HarmonyOS Sans
HarmonyOS Sans.zip
SourceHanSansSC.zip

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
src/src
src/main
src/lyrisMaker

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
